node_modules
packages
client_packages
ragemp-server.exe
/BugTrap-x64.dll
/serverLogs.log
/dotnet
/bin
linux_x64.tar.gz

.env*
!.env.example

# local env files
.env.local
.env.*.local

/logs

/index.js
